.wrapper {
  margin: 40px 0;
  .content {
    margin-top: 30px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .content-title {
      position: absolute;
      z-index: 11;
      padding: 8px 12px;
      background-color: var(---color-bg);
      border-radius: 2px;
      font-weight: 600;
      font-size: 1.8rem;
      text-transform: uppercase;
    }

    .content-wrapper {
      width: 100%;
      position: relative;
      padding-top: 70%;

      .content-wrapper-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 740px) {
  .wrapper {
    .content {
      margin-top: 15px;
    }
  }
}
