.header {
  height: fit-content;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #fff;
}

.top-bar {
  background-color: var(---color-announcement-bg);
  .top-header--container {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    font-size: 1.6rem;
    letter-spacing: 4px;
    font-weight: 300;
    color: var(---color-announcement-text);
  }
}

.nav-bar {
  height: fit-content;
  padding: 16px 0;
  .nav-bar--logo {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    img {
      width: 180px;
    }
  }

  .nav-bar--menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: var(---color-nav-text);

    .menu-item {
      display: flex;
      font-size: 1.2rem;
      color: var(---color-nav-text);
      padding: 0;
      text-transform: uppercase;
    }

    .menu-login {
      justify-content: flex-end;
      font-size: 1.7rem;
    }

    .sub-nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: #fff;
      border-radius: 4px;
      padding: 16px 8px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .sub-nav-item {
      width: 100%;
      font-size: 1.2rem;
      text-align: left;
      justify-content: flex-start;
      margin: 8px;
      color: var(---inverse-primary);
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .nav-bar-actions {
    display: flex;
    align-items: center;
    min-height: 100%;
    justify-content: space-between;
    font-size: 1.2rem;
  }
}

@media (max-width: 740px) {
  .top-bar {
    display: none;
  }
  .nav-bar {
    .action--menu {
      height: 100%;
      width: 100%;
      padding: 0;
      color: var(---color-nav-text);
    }
    .nav-bar--logo {
      justify-content: center;
    }

    .action-login {
      display: none;
    }
  }
}
