.footer {
  background-color: #f9f6f2;
  padding: 32px 16px;

  .footer-heading {
    color: #9e513b;
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600px;
  }
  .footer-content {
    padding-top: 10px;
    font-size: 1.4rem;
    color: rgba(158, 81, 59, 0.9);
    line-height: 20px;
    margin-bottom: 20px;
  }
}
