.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
  h3 {
    font-size: 3.2rem;
    color: #000;
  }

  .banner-content-btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner-btn {
      padding: 20px 80px;
      background-color: #fff;
      border: none;
      color: #000;
      font-weight: 500;
    }
  }
}

.new-product {
  margin: 40px 0;
}

.selling-products {
  .product-image {
    max-width: 100%;
  }

  .selling-products-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    .selling-products-heading {
      justify-content: flex-start;
      p {
        &::after {
          right: auto;
        }
      }
    }
    .selling-products-content {
      color: var(---color-text-light);
      font-size: 1.8rem;
      line-height: 28px;
    }
    .selling-products-action {
      margin: 18px 0;
      .btn-browse {
        color: var(---color-text);
        width: 40%;
        padding: 18px 0;
        font-weight: 500;
        border: 1px solid var(---color-primary);
        text-transform: uppercase;
        &:hover {
          background-color: var(---color-a5);
        }
      }
    }
  }

  .container-reverse {
    .selling-products-heading {
      justify-content: flex-end;
      p {
        &::after {
          left: auto;
          right: 0;
        }
      }
    }
    .selling-products-content {
      text-align: end;
    }
    .selling-products-action {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.quality {
  padding: 21px;
  color: var(---color-text-light);
  .quality-heading {
    display: flex;
    justify-content: center;
  }
}

.address-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: var(---color-text-light);
  .flagship-heading {
    display: flex;
    justify-content: center;
  }

  .address-content {
    font-size: 1.3rem;
    line-height: 2rem;
    word-spacing: 2px;
  }

  .address-action {
    margin-top: 12px;
    padding: 8px 16px;
    color: var(---inverse-text);
    background-color: var(---inverse-primary);
    &:hover {
      background-color: var(---inverse-primary-hover);
    }
  }
}
.address-image {
  height: 728px;
  background-image: url("https://cdn.shopify.com/s/files/1/2675/2320/files/Bakes_Facade_S3-_1_61f80be6-b158-465a-8d2a-33d94f7f9d60_1080x.jpg?v=1638452542");
  background-position: center;
  background-size: cover;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 60px 0;

  .about-us-heading {
    padding: 8px 0;
    color: var(---color-text-dark);
    font-weight: 500;
  }

  .about-us-content {
    padding: 8px 0;
    color: var(---color-text);
  }
}
